body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-color: #9d88b3;
}

.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #250e4a;
  text-align: center;
  border-radius: 10px;
}
.signup {
  color: #e8d5b5;

  font-weight: 500;
}

.questions {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 5px solid #e8d5b5;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #9d88b3;
  border-radius: 24px;
  transition: 0.25s;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: #e8d5b5;
}

.questions:focus {
  width: 280px;
  border-color: #e8d5b5;
}

.submit {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 5px solid #9d88b3;
  padding: 14px 40px;
  width: 200px;
  outline: none;
  color: #9d88b3;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.submit:hover {
  background: #e8d5b5;
}
